<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Python.Runtime.Linux" version="3.7.2" targetFramework="net472" />
  <package id="Python.Runtime.Windows" version="3.7.2" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>